<footer class="image-wrapper bg-image page-title-wrapper inverse-text footer-image" data-image-src="/assets/images/art/bg4.jpg">
  <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper position-absolute" preserveAspectRatio="none" viewBox="0 0 1070 52">
    <path d="M0,0S247,91,505,32c261.17-59.72,565-13,565-13V0Z" /></svg>
  </div>
  <div class="space50"></div>
  <div class="container inner">
    <div class="row">
      <div class="col-md-12 col-lg-12 center-content">
        <div class="center-content">
          <div class="row">
            <h3><strong>Contáctanos</strong></h3>
          </div>          
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-auto d-flex align-items-center justify-content-center mb-2">
        <i class="icofont-location-pin mr-2"></i>
        <span>{{site.data.general_settings.address_01}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 center-content">
        <div class="center-content">
          <div class="row d-flex align-items-center">
            <i class="icofont-ui-call mr-2"></i>
            {{site.data.general_settings.phone_number}}
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 center-content">
        <div class="center-content">
          <div class="row d-flex align-items-center">
            <i class="icofont-ui-message mr-2"></i>
            <a href="mailto:{{site.data.general_settings.email}}">{{site.data.general_settings.email}}</a>
          </div>          
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-lg-12 center-content">
        <div class="center-content">
          <a href="{{site.data.general_settings.url}}">
          {% if include.light_logo %}
            <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
            {% else %}
            <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
          {% endif %}
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 center-content">
        <div class="center-content">
          <p>{{site.data.general_settings.copyright_text}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>